@font-face {
    font-family: 'MyFont';
    src: url('./RobotoCondensed-Light.woff2') format('woff2'),
         url('./RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
}